<div class="header-margin-bottom">
  <common-header [heading]="'ASSIGN BUDDY'"
  [screenId] = "screenId"
  [candidateId] = "candidateId"></common-header>
</div>
<mat-card class="white-card">

  <show-candidate-details [fullData]="fullData" [inputfilename]="inputfilename" [myObj]="myObj" [inputDoc]="inputDoc">
  </show-candidate-details>

  <div class="wrapper">
    <div class="myRow">
      <div class="col-md-4 offset-md-1 offset-1 col-10 top-margin">
        <div class="input-heading">SYSTEM TYPE</div>
        <select class="input-shadow cursor-pointer" (change)="changeOS($event)" [value]="systemType">
          <option *ngFor="let os of OS">{{os}}</option>
        </select>
        <i class="fas fa-caret-down arrow-pos"></i>
      </div>



      <div class="col-md-4 offset-md-2 offset-1 col-10 top-margin">
        <div class="input-heading">SELECT BUDDY</div>

        <div class="box input-shadow dropdown">
          <!-- <div (click)="toggleList('buddyDropdown')" class="dropbtn">{{this.saveBuddy.buddy.name}}</div>
                <div id="buddyDropdown" class="dropdown-content">
                  <input type="text" placeholder="Search.." class = "input listField" id="myInput" (keyup)="buddyFilterOptions = filterFunction(buddyFilterOptions, Buddy, 'myInput')">
                  <a *ngFor="let fo of buddyFilterOptions" (click) = "changeBuddy(fo.EmployeeName, 'buddyDropdown')">{{fo.EmployeeName}}</a>
                </div>
              </div> 
              <i class="fas fa-caret-down arrow-pos"></i> -->
          <ngx-select-dropdown (change)="changeBuddy(($event).value)" [multiple]="false"
            [(ngModel)]="saveBuddy.buddy.name" [config]="config" [options]="buddyFilterOptions">
          </ngx-select-dropdown>
        </div>
      </div>
    </div>
    <div class="col-md-4 offset-md-1 offset-1 col-10 top-margin">
      <div class="input-heading">SOFTWARE INSTALLED</div>
      <!-- <input *ngIf = "buddyFlag" formControlName="softwareInstalled" class = "input input-shadow disabled" type="text" [(ngModel)] = "softwareInstalled" (keyup) = "softwareInputKeyHandler('software')" disabled/>
            <input *ngIf = "!buddyFlag" id = "software" formControlName="softwareInstalled" class = "input input-shadow" type="text" [(ngModel)] = "softwareInstalled" (keyup) = "softwareInputKeyHandler('software')" /> -->
      <tag-input id="software" [(ngModel)]="softwareInstalled" [modelAsStrings]="true" (onAdd)="onItemAdded($event)">
      </tag-input>
      <div *ngIf="falseClicked" class="required">Software installed is required.</div>
    </div>
    <div class="text-center">
      <button class="text-center button cursor-pointer button-margin-bottom" (click)="submit('software')">
        SUBMIT
      </button>
    </div>
  </div>
</mat-card>