<mat-card class="white-card1" style="max-width: 115rem;">
  <div class="wrapper top-padding bg-color" class="fit-content">
    <div class="text-center">
      <label>Feedback form has been submitted successfully.</label>
    </div>
    <div class="text-center">
        <button class="text-center button" style="margin: 5px;" (click)="redirect()">
            Redirect To Main Page
          </button>
      <button class="text-center button" (click)="close()">
        Close Web Page
      </button>
    </div>
  </div>
</mat-card>