<ng-template #template>
  <div class="main-body bg-white  ">
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{inputfilename}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
        <!-- <span aria-hidden="true">&times;</span> -->
        <i class="fas fa-times icon"></i>

      </button>
    </div>
    <div class="myRow" class="document">
      <iframe width="100%" height="100%" [src]=safeUrl></iframe>
      <!-- <img [src]=safeUrl alt="photu" height="95%" width="100%"> -->
      <!-- <iframe width="700" height="400" [src]=safeUrl></iframe> -->

    </div>
  </div>
</ng-template>