.spinner{
    width: 100%;
    height: 100%;
    position: fixed;
    background: white url("spinner.gif") no-repeat center;
    z-index: 99999;
    opacity: 0.75;
    filter: brightness(75%);
  }
  
  .loader-text{
    position: absolute;
    top: calc(50% + 45px);
    left: 47%;
    background: white url("Loading.gif") no-repeat;
    height: 24px;
    width: 80px;
  }