

.mat-select-panel {
  background-color: red;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.editText input {
  border-radius: 7px;
  padding-top: 1.4em;
  padding-bottom: 1.7em;
  margin-left: 1rem;
}
.editText .mat-select {
  border-radius: 7px;
  height: 37px;
  margin-left: 1rem;
}
.editText label {
  margin-left: 1.4rem;
}

.details-container {
  margin-left: 15px;
    background-color: white;
    margin-top: -7px;
    padding-bottom: 35px;
    width: 100%;
}
.editText mat-radio-group {
  display: inline-flex;
  border: none;
  vertical-align: top;
  margin-left: 1rem;
}

.req {
  color: red;
}
.ng-touched.ng-pristine {
  border-color: red;
}

input:hover {
  border-radius: 5px;
  border-color: blue;
}

.text-block {
  text-align: center;
  position: relative;
  margin-top: -130px;
  margin-bottom: 100px;
  /* margin-left: -20%; */
}
.image-container-2 {
  background: #fff
    url("http://onboarding.geminisolutions.com.s3-website.ap-south-1.amazonaws.com/add-new-emp.png")
    no-repeat center;
  margin-top: 2%;
  height: 147px;
  border-radius: 6px;
  position: relative;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: -65px;
}
.text {
  position: absolute;
  padding-top: 5%;
  padding-left: 2%;
  font-weight: bolder;
}

select {
  appearance: none;
  /* outline: 0;  */
  background: white;
  width: 100%;
  height: 100%;
  border: 1px solid #edf1f7;
  border-radius: 7px;
  padding: 12px;
  /* display: none; */
}


::ng-deep .mat-card-title {
  background-color: #a06ec9 !important;
  color: white;
  padding: 10px !important;
}

::ng-deep .mat-card {
  padding: 0 !important;
}
.pt-10 {
  padding-top: 15px;
}


.top-padding1 {
  padding-top: 20px;
}
.top-padding{
  padding-top: 5px;
}


.form-control:disabled,
.form-control[readonly] {
  background-color: white;
}
.padding-side{
  padding-right: 12px;
  padding-left: 12px;
}
mat-select {
  /* width: 250px; */
    height: 40px !important;
    line-height: 36px;
    color: rgba(0, 0, 0) !important;
    font-weight: 100;
    font-family: montserrat;
}


  .left-align{
    margin-left: 4%;
    margin-bottom: 3%;
  }
  ::ng-deep .mat-select {
    width: 1;
  }

  /* ::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: blueviolet;
  }
  
  ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: blueviolet;
  } */


.button-holder{
  text-align:center;
  margin-top: 2rem;
}
input[type="date"] {
  align-items: center;
  display: -webkit-inline-flex;
  /* font-family: monospace; */
  padding-inline-start: 1px;
  cursor: default;
  overflow: hidden;
  padding: 5px;
}


.mat-card-style{
  font-weight: bolder !important; 
  font-size: large !important; 
  height: 48px !important; 
  margin-top:8px !important
}
.delete-child{
  margin-left: 10%;
  margin-top: 14px;
}

.add-child{
  margin-top: 1rem;
  margin-left: 10%;
}
.emp-pos{
  padding-left: 0;
  margin-left: 10px
}

.mat-card-width{
  width: 100%;
}